{% extends 'base.html' %}
{% block content %}

<button class="hamburger" onclick="toggleSidebar()">☰ Lessons Menu</button>

<div class="lessons-container">
    <div class="sidebar" id="lessonSidebar">
        <h3>Lessons</h3>
        <ul>
            {% for lesson in lessons %}
            <li><a href="{{ url_for('lessons', lesson_id=lesson.id) }}">{{ lesson.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="lesson-main">
        <h2>{{ active_lesson.title }}</h2>
        <div class="lesson-content">
            {{ active_lesson.content }}
        </div>
    </div>
</div>

<script src="{{url_for('static',filename='script/lessons.js')}}"></script>

{% endblock %}

